<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>AOI_Generator</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>

<div type="text/javascript" th:replace="fragments/header :: header-fragment"></div>

<div id="legend">Center Pooint:
    <div id="centerpoint">..
    </div>
    <br> Mouse:
    <div id="mouse">..
    </div>
</div>

<div id="map"></div>

<script th:inline="javascript">
/*<![CDATA[*/
/*[+ [# th:insert="~{../static/scripts/osmmap.js}" /] +]*/
/*]]>*/

</script>

</body>
</html>